<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>677027966071-p74q12obfrouh5f9lct28ev2mmdjolln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.677027966071-p74q12obfrouh5f9lct28ev2mmdjolln</string>
	<key>API_KEY</key>
	<string>AIzaSyAWf7ULBAHA6Ump6-wcJwT6Zcrf1p-4ecQ</string>
	<key>GCM_SENDER_ID</key>
	<string>677027966071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>QuizAppNative</string>
	<key>PROJECT_ID</key>
	<string>cloudpass-6a9f5</string>
	<key>STORAGE_BUCKET</key>
	<string>cloudpass-6a9f5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:677027966071:ios:b5ae8452f11a90fbf7ea72</string>
</dict>
</plist>